---
layout: layouts/base.njk
---
<article class="page">
  <div class="container">
    {% include "partials/breadcrumbs.njk" %}
    <div class="prose stack">
      {{ content | safe }}
    </div>
    {% include "partials/pager.njk" %}
    {% include "partials/related.njk" %}
  </div>
</article>
