---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ page.date | toISODateShort }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for p in collections.allPages %}
  <url>
    <loc>{{ p.url | absoluteUrl }}</loc>
    <lastmod>{{ p.date | toISODateShort }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ p.url | sitemapPriority }}</priority>
  </url>
  {%- endfor %}
</urlset>
