{%- set sibs = collections.allPages | siblingsOf(page.url) -%}
{%- if sibs.length > 0 -%}
<aside class="related" aria-labelledby="related-heading">
  <h2 id="related-heading">Related pages</h2>
  <div class="related-grid">
    {%- for s in sibs -%}
      {%- set slug = s.url.split('/').slice(-2, -1)[0] -%}
      <a href="{{ s.url | absoluteUrl }}">{{ slug | titleize }}</a>
    {%- endfor -%}
  </div>
</aside>
{%- endif -%}
